{% extends "bootstrap/base.html" %}
{% block title %}Protected{% endblock %}



{% block content %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="http://127.0.0.1:5000/">Final Project</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="http://127.0.0.1:5000/">Home</a></li>
        <li><a href="http://127.0.0.1:5000/login">Login</a></li>
        <li class="active"><a href="http://127.0.0.1:5000/protected?token=">Protected</a></li>
        <li><a href="http://127.0.0.1:5000/coin">Coin</a></li>
      </ul>
    </div>
  </nav>

  <div class="container">
  <h1>{{check}}</h1>
  <h3><a href="http://127.0.0.1:5000/login">You can get it there</a></h3>
  </div>
{% endblock %}